{% import "/templates/components/ui/_macro-heading.twig" as headings %}
{% import "/templates/components/ui/_macro-icon.twig" as icons %}
{% import "/templates/components/ui/_macro-badge.twig" as badges %}
{% import "/templates/components/ui/_macro-image-object.twig" as images %}

{% set post = post ?? null %}

{% if post is null %}
    <div class="text-center text-gray-200">No post data available</div>
{% endif %}

<article class="flex flex-col items-start justify-between">
	<div class="relative w-full">
		<img src="{{ post.thumbnail.src ?: theme.link ~ '/public/icons/icon-temp-image.svg' }}" alt="{{ post.thumbnail.alt }}" class="aspect-[16/9] w-full rounded-2xl bg-wood-smoke-950 border-2 border-wood-smoke-800 object-cover sm:aspect-[2/1] lg:aspect-[3/2]">
		<div class="absolute inset-0 z-10 rounded-2xl"></div>
	</div>
	<div class="max-w-xl">
		<div class="flex items-center mt-8 text-xs gap-x-4">
			<a href="{{ post.categories[0].link }}" class="relative z-10">
               {{ badges.containedBadge({
                    title: post.categories[0].name,
                    size: 'xs',
                }) }}
            </a>

		</div>
		<div class="relative">
			<h3 class="relative mt-3 text-lg font-bold leading-7">
				<a href="{{ post.link }}" title="{{ post.link }}" class="cursor-pointer multi-line-link group text-balance hover:text-slate-300">
					<span class="absolute inset-0"></span>
					<span class="group-hover:text-dodger-blue-500">{{ post.title}}</span>
				</a>
			</h3>
			<p class="mt-5 leading-6 text-gray-100 text-m line-clamp-3">{{ post.excerpt  }}</p>
		</div>
	</div>
</article>
