{% import "components/ui/_macro-icon.twig" as icons %}
{% import "components/ui/_macro-badge.twig" as badges %}
{% import "components/ui/_macro-button.twig" as btn %}
{% import "components/ui/_macro-image-object.twig" as images %}

<div class="relative py-12 overflow-hidden border-2 rounded-md bg-wood-smoke-950 border-wood-smoke-900">

    <div class="absolute inset-x-0 w-[120%] h-full rounded-full -translate-x-1/3 -bottom-1/2 bg-gradient-to-t from-wood-smoke-800 to-transparent blur-3xl left-1/2"></div>
    <div class="px-6 mx-auto lg:px-24">
        <div class="relative max-w-xl mx-auto lg:mx-0">
            <div class="col-span-2 space-y-4 lg:pr-8 lg:pt-4">
                <span class="inline-flex text-flamingo-600">{{ icons.icon('brand-glyph', 'size-6') }}</span>
                <div class="space-y-4 lg:pr-3">
                    <p class="mt-2 font-bold tracking-tight text-white whitespace-break-spaces sm:fluid-text-3xl">{{ title }}</p>
                    <div class="prose fluid-prose-sm prose-invert">{{ entry }}</div>
                </div>
                <div class="pt-8">
                    {{ btn.btnLink({
                        text: link.title,
                        link: link.url,
                        type: 'primary',
                        icon: 'arrow-right',
                    })}}
                </div>
            </div>
            
        </div>
    </div>

    {% if image.url %}
    <div class="absolute w-full max-w-3xl border-4 rounded-md top-[18%] left-[55%] border-wood-smoke-900">
        <figure class="bg-wood-smoke-950 aspect-1">
        {{ images.imageObject({
            src: image.url,
            alt: image.alt,
            class: 'w-full h-full',
        })}}
        </figure>
    </div>
    {% endif %}
</div>