{% import "/templates/components/ui/_macro-heading.twig" as headings %}
{% import "/templates/components/ui/_macro-icon.twig" as icons %}
{% import "/templates/components/ui/_macro-badge.twig" as badges %}
{% import "/templates/components/ui/_macro-image-object.twig" as images %}

{% set post = post ?? null %}

{% if post is null %}
    <div class="text-center text-gray-200">No post data available</div>
{% endif %}

<article class="flex flex-col items-start justify-between">
	<div class="relative w-full">
		<img src="{{ post.thumbnail.src }}" alt="{{ post.thumbnail.alt }}" class="aspect-[16/9] w-full rounded-2xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]">
		<div class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
	</div>
	<div class="max-w-xl">
		<div class="flex items-center mt-8 text-xs gap-x-4">
            <time datetime="{{ post.date('Y-m-d H:i:s') }}"class="text-gray-200" >{{ post.date }}</time>
			<a href="{{ post.categories[0].link }}" class="relative z-10">
               {{ badges.containedBadge({
                    title: post.categories[0].name,
                    size: 'xs',
                }) }}
            </a>

            


		</div>
		<div class="relative group">
			<h3 class="mt-3 text-lg font-bold leading-6 text-dodger-blue-600 group-hover:text-dodger-blue-300">
				<a href="#">
					<span class="absolute inset-0"></span>
					{{ post.title}}
				</a>
			</h3>
			<p class="mt-5 text-sm leading-6 text-gray-200 line-clamp-3">{{ post.excerpt  }}</p>
		</div>
	</div>
</article>
