{% import "components/ui/_macro-heading.twig" as headings %}
{% import "components/ui/_macro-image-object.twig" as images %}
{% import "components/ui/_macro-icon.twig" as icons %}
{% import "components/ui/_macro-badge.twig" as badges %}
{% import "components/ui/_macro-button.twig" as buttons %}

{% set generalTitle = title ?? options.general_call_to_action.title %}
{% set generalEntry = entry ?? options.general_call_to_action.entry %}
{% set generalLink = link ?? options.general_call_to_action.link %}
{% set generalFormTitle = formTitle ? formTitle : options.general_call_to_action.hubspot_form_title %}
{% set generalFormID = form ? form : options.general_call_to_action.hubspot_form_id %}


<section id="section-cta" class="relative px-6 lg:px-8 section-cta section-cta-{{ post.slug}}">

    <div class="relative max-w-xl mx-auto mt-16 overflow-hidden lg:max-w-4xl xl:max-w-7xl">
        <div class="absolute inset-x-0 bottom-0 hidden">
            <svg width="1063" height="241" viewBox="0 0 1063 241" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="1063" height="241" fill="url(#paint0_radial_204_17543)"/>
            <defs>
            <radialGradient id="paint0_radial_204_17543" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(531.5 241) rotate(-90) scale(172.685 564.997)">
            <stop stop-color="#0D1453"/>
            <stop offset="1" stop-color="#050822" stop-opacity="0"/>
            </radialGradient>
            </defs>
            </svg>
        </div>

        <div class="relative gap-8 space-y-10 xl:space-y-0 xl:grid xl:grid-cols-12 inview-container">
            <div class="space-y-6 section-page-cta__heading section-cta__item xl:col-span-6 lg:pt-8 inview-item">
                {{ headings.headingTwo({
                    title: generalTitle,
                    size: 'fluid-text-3xl xl:fluid-text-4xl',
                })}}
                <p class="text-base/loose lg:text-xl/loose section-cta__item">{{ entry ?? generalEntry }}</p>
            </div>
            <div class="section-page-cta__enter xl:pt-4 xl:col-span-6 inview-item">
                
                <div class="p-8 space-y-4 border-2 rounded border-dodger-blue-950/60 bg-wood-smoke-950/80">
                    {{ headings.headingTwo({
                        title: generalFormTitle,
                        size: 'fluid-text-base',
                        color: 'text-dodger-blue-50',
                    })}}
                    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
                    <script>
                        hbspt.forms.create({
                            region: "na1", 
                            portalId: "6118984", 
                            formId: "{{ generalFormID }}",
                            css: '',
                        });
                    </script>
                </div>
        </div>
    </div>


</section>