{% import "components/ui/_macro-icon.twig" as icons %}

<footer class="px-6 lg:px-8" aria-labelledby="footer-heading">
	<h2 id="footer-heading" class="sr-only">Footer</h2>
	<div class="pt-16 pb-8 mx-auto max-w-screen-2xl sm:pt-24 lg:pt-32">
		<div class="flex flex-col items-center w-full">
			<div class="space-y-8 text-center">
				<nav class="flex items-center justify-center hidden space-x-2 text-gray-500 footer-nav lg:block">
                    {% if menu.footer_nav.get_items %}
                    <menu class="flex items-center space-x-4 text-sm footer-nav__menu">
                       {% for item in menu.footer_nav.get_items %}
                        <li class="{{ item.classes|join(' ') }} footer-nav__item">
                            <a href="{{ item.link }}" class="font-semibold text-black-rock-200/80">{{ item.name }}</a>
                        </li>
                        {% endfor %}        
                   </menu>
                   {% endif %}
                </nav>

                {% if menu.footer_social.get_items %}
                    <div class="flex items-center justify-center mx-auto space-x-6 lg:space-x-8">
                        {% for item in menu.footer_social.get_items %}
                            <a href="{{ item.link }}" class="text-gray-500 transition duration-150 ease-linear hover:text-gray-400" target="{{ item.target }}">
                                <span class="sr-only">{{ item.name }}</span>
                                {{ icons.icon(item.name | lower, 'w-5 h-5') }}
                            </a>
                        {% endfor %}
                        
                    </div>
                {% endif %}

                {#  #}
                <div class="pt-8 mt-16 sm:mt-20 lg:mt-24">
                    <p class="text-xs leading-5 tracking-widest text-gray-400">&copy; {{ "now"|date("Y") }} {{ site.title }} All rights reserved.</p>
                </div>
			</div>
		</div>
		
	</div>
</footer>

