<!DOCTYPE html>
<html lang="en" class="page-{{ post.slug }} {{ tagString }} scroll-smooth ">
	<head>
		<!-- Base meta tags -->
		<meta charset="{{ site.charset }}">
		<title>{{ site.title }}</title>
		<meta name="language" content="english" />
		<meta name="description" content="{{ site.description }}" />
		
		<!-- Reassure the browser that we are mobile-friendly -->
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1">
		<meta name="HandheldFriendly" content="True">
		<meta name="view-transition" content="same-origin" />
        <meta http-equiv="Content-Security-Policy" content="connect-src 'self' https://www.google-analytics.com https://hubspot-forms-static-embed.s3.amazonaws.com;">

		<!-- Favicons -->
		<link rel="icon" href="{{ theme.link }}/dist/favicon/favicon.ico?cachebust=20220519">
		<link rel="icon" href="{{ theme.link }}/dist/favicon/favicon.svg?cachebust=20220519" type="image/svg+xml" sizes="any">
		<link rel="apple-touch-icon" href="{{ theme.link }}/dist/favicon/favicon-apple.png?cachebust=20220519">
		<meta name="theme-color" content="#20242c">
		
		{{function('wp_head')}}

        {% set tracking = options.tracking %}
        {% if tracking %}
            {% for tracking_code in tracking.tracking_codes %}
                {% set in_header = tracking_code.in_header %}
                {% if in_header == true %}
                    <!-- {{ tracking_code.name }} -->
                    {{ tracking_code.script | raw }}
                {% endif %}
            {% endfor %}
        {% endif %}

		{% if post.meta('css') %}
			<style>{{ post.meta('css') }}</style>
		{% endif %}

		{% block head %}
		{% endblock %}

	</head>

	<body 
        x-init="console.log('Im initing')"
        class="{{ body_class }} bg-wood-smoke-950 text-white font-sans relative ">

        <div class="relative overflow-clip">
            {% block alert %}
                {% for alert in alerts %}
                    {% include 'components/alert/alert.twig' %}
                {% endfor %}
            {% endblock %}


            {% block header %}
                {% include 'partials/_partial-header.twig' %}
            {% endblock %}


            <main id="Swup" class="layout transition-fade" role="main">
                {% block content %}
                    Sorry, no content
                {% endblock %}
            </main>

            {% block footer %}
                {% include 'partials/_partial-footer.twig' %}
            {% endblock %}

            <div class="absolute inset-x-0 overflow-hidden bottom-12 -z-10">
                 
                <div class="relative mx-auto">
                    <div class="absolute inset-0 bg-[#090C36]/45 lg:bg-[#090C36]/65 mix-blend-multiply"></div>
                    <div class="absolute inset-x-0 top-0 bg-gradient-to-b from-wood-smoke-950 via-wood-smoke-950 to-transparent h-1/3"></div>
                    <div class="absolute inset-x-0 bottom-0 bg-gradient-to-t from-wood-smoke-950 via-wood-smoke-950 to-transparent h-1/3"></div>
                    <div class="aspect-[16/9] bg-no-repeat bg-cover bg-bottom lazyload" data-bg="{{ options.general_call_to_action.image.url }}"></div>
                </div>
            </div>
        </div>

        

		{{ function('wp_footer') }}

        {% if tracking %}
            {% for tracking_code in tracking.tracking_codes %}
                {% set in_header = tracking_code.in_header %}
                {% if in_header == false %}
                    <!-- {{ tracking_code.name }} -->
                    {{ tracking_code.script | raw }}
                {% endif %}
            {% endfor %}
        {% endif %}

		{% if post.meta('js') %}
			<script>{{ post.meta('js') }}</script>
		{% endif %}	
		
	</body>
</html>
