{% import "/templates/components/ui/_macro-image-object.twig" as images %}
{% import "/templates/components/ui/_macro-badge.twig" as badges %}
{% import "/templates/components/ui/_macro-button.twig" as buttons %}
{% import "/templates/components/ui/_macro-heading.twig" as headings %}
{% import "/templates/components/ui/_macro-icon.twig" as icons %}

<header id="{{ post.id }}-hero" class="relative px-6 overflow-hidden sm:px-12 lg:px-8 hero">
	<div class="py-10 mx-auto max-w-screen-2xl">
		<div class="hero-content">
            <div class="mx-auto text-center max-w-7xl">
                {# accent #}
                {% if heroAccent or post.title %}
                    <div class="hero__accent hero-content__item">
                        {{ badges.accentBadge({
                            title: heroAccent ?? post.title,
                        })}}
                    </div>
                {% endif %}

                {# headings #}
                <hgroup class="max-w-6xl mx-auto mt-8 space-y-6 hero__headings">
                    {% if heroTitle %}
                        <span class="inline-block hero-content__item">
                            {{ headings.headingOne({
                                    title: heroTitle,
                            })}}
                        </span>
                    {% endif %}

                    {% if heroSubTitle %}
                        <span class="inline-block hero-content__item">
                            {{ headings.headingThree({
                                title: heroSubTitle,
                                color: 'text-dodger-blue-700',
                                size: 'fluid-text-lg',
                            })}}
                        </span>
                    {% endif %}
                </hgroup>
            </div>
            
            {% if hero.image.url %}
                <div class="relative mx-auto mt-10 max-w-7xl hero-content__item">
                    <div class="relative">
                        <div class="absolute p-4 overflow-hidden rounded-md -inset-1 bg-wood-smoke-900 blur-xl"></div>
                        <figure class="border border-blue-700 rounded-md aspect-w-16 aspect-h-8 bg-wood-smoke-950 isolate">
                            {{ images.imageObject({
                                src: hero.image.url,
                                alt: hero.title,
                                classes: 'object-cover object-center rounded-md',
                            })}}
                        </figure>
                    </div>
                </div>
            {% endif %}
        </div>

        {# entry #}
        <div class="pb-24 mx-auto mt-20 max-w-7xl lg:grid lg:grid-cols-3 lg:gap-8 inview-container hero__entry">
            <div class="lg:pt-12 lg:col-span-1 inview-item hero__entry-title">
                {{ headings.headingTwo({
                    title: hero.entry_title,
                    size: 'font-bold fluid-text-xl',
                })}}
            </div>
            <div class="lg:col-span-2">
                <div class="relative mx-auto mt-10 prose-xl inview-item hero__entry-content">
                    {{ hero.entry }}
                </div>
                
                <div class="max-w-sm mt-8 inview-item hero__entry-cta">
                    {% if heroCTAs %}
                        {% for cta in heroCTAs %}
                            {{ buttons.btnLink({
                                text: cta.title,
                                link: cta.url,
                                type: 'primary',
                                icon: 'arrow-right',
                                size: 'lg'
                            })}}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>

        {# divider #}
        {% if not fn('is_front_page') %}
        <div class="mx-auto max-w-7xl">
            <div class="my-8 flex items-center gap-4 before:h-px before:flex-1 before:bg-black-rock-900/50  before:content-[''] after:h-px after:flex-1 after:bg-black-rock-900/50  after:content-['']">
                {{ icons.icon('brand-glyph', 'size-8 text-flamingo-600') }}
            </div>
        </div>
        {% endif %}
	</div>
</header>