{% extends "layouts/base.twig" %}

{% set hero = post.meta('page_hero')[0] %}

{% block content %}
    {% embed "components/containers/archive/_embed-archive-title.twig" with {
        title: hero.title ?? title,
        heroSubTitle : hero.sub_title ?? subTitle,
        heroEntry: hero.entry,
    } %}
        {% block archive_content %}
        <script>console.log({{ post.meta('page_hero')[0] | json_encode | raw }})</script>
            {% if fn('is_home') and terms %}
                <menu class="flex items-center gap-2 pb-4">
                    {% for item in menu.resources_nav.get_items %}
                        <li class="resource-{{ index }}">
                            <a href="{{ item.link }}" class="inline-flex px-2 py-1 text-sm font-semibold text-gray-500 transition-colors duration-100 ease-linear border rounded bg-gray-50 hover:text-blue-600 hover:bg-blue-50 hover:border-blue-200" title="{{ item.title }}">{{ item.title }}</a>
                        </li>
                    {% endfor %}
                </menu>
            {% endif %}


            {% embed "/templates/components/containers/sections/_embed-section-full.twig" %}
                {% block section_content %}
                    <div class="grid grid-cols-1 gap-8 xl:gap-12 md:grid-cols-2 lg:grid-cols-3 article-posts">
                        {% for post in posts %}
                            <div id="article-{{ post.id }}" class="artice-posts__item inview-item">
                                {% include "/components/cards/_component-card-post.twig" %}
                            </div>
                        {% endfor %} 
                    </div>
                {% endblock %}
            {% endembed %}

            
            
        {% endblock %}
    {% endembed %}

    {# cta #}
    {% include "partials/_partial-call-to-action.twig" with {
        title: callToAction.title ? callToAction.title : options.general_call_to_action.title ,
        entry: callToAction.entry ? callToAction.entry : options.general_call_to_action.entry,
        link: callToAction.link ? callToAction.link : options.general_call_to_action.link,
    } %}
{% endblock %}