{% extends "layouts/base.twig" %}

{% set pageType = post.meta('page_type') %}
{% set pageContentBasic = post.meta('page_content_basic') %}
{% set pageContentBuilder = post.meta('page_content') %}


{% block content %}

<article class="page-content snap-y">

    {% import "/templates/components/ui/_macro-image-object.twig" as images %}
    {% import "/templates/components/ui/_macro-badge.twig" as badges %}
    {% import "/templates/components/ui/_macro-heading.twig" as headings %}
    {% import "/templates/components/ui/_macro-button.twig" as buttons %}
    {% import "/templates/components/ui/_macro-icon.twig" as icons %}

    <!-- Hero -->
    {% set hero = post.meta('page_hero')[0] %}

    {% include "/templates/pages/page/partials/_partial-hero-full-background.twig"  with {
        heroAccent: hero.accent,
        heroTitle: hero.title,
        heroSubTitle: hero.sub_title,
        heroImage: hero.image,
        heroCTAs: hero.call_to_actions,
    
    } %}
    <!-- End Hero -->

    {% set companyBrands = [
        {
            name: 'iContracts',
            icon: 'brand-icontracts'
        },
        {
            name: 'Porzio',
            icon: 'brand-porzio'
        },
        {
            name: '',
            icon: 'brand-icoach'
        },
    ] %}

    <!-- Brands -->
    <section class="relative px-16 overflow-hidden section-brands lg:px-8 scroll-start">
        
       {# <div class="absolute inset-x-0 inset-y-0 border border-white bg-gradient-to-b from-wood-smoke-950 to-wood-smoke-950/0"></div> #}
       
        <div class="absolute inset-0 w-full max-w-screen-xl overflow-hidden -translate-x-1/2 opacity-10 section-brands__glow top-11 left-1/2">
            <div class="relative h-full opacity-40">
                <div class="absolute inset-x-0 text-blue-700/90 -top-[85%]">
                   <svg viewbox="0 0 1024 1024" class="[mask-image:radial-gradient(closest-side,white,transparent)]" aria-hidden="true">
                        <circle cx="512" cy="512" r="512" fill="url(#8d958450-c69f-4251-94bc-4e091a323369)" fill-opacity="0.7"/>
                        <defs>
                            <radialGradient id="8d958450-c69f-4251-94bc-4e091a323369">
                                <stop stop-color="currentColor"/>
                                <stop offset="1" stop-color="currentColor"/>
                            </radialGradient>
                        </defs>
                    </svg>
                </div>
                
                <div class="absolute opacity-15 text-wood-smoke-950 -inset-24 mix-blend-multiply">
                    {{ icons.icon('pattern-hexagon', 'size-full') }}
                </div>
            </div>
        </div>
        
        

        
        <div class="relative mx-auto space-y-8 lg:max-w-7xl page-content__item">

            {# divider #}
            <div class="mb-20 -mx-12 section-divider lg:mx-auto">
                {% include "/templates/components/dividers/_component-divider-icon.twig" %}
            </div>

            <div class="pt-12 pb-8 section-brands__entry sm:px-20 lg:pb-16">
                <div class="pt-12 space-y-6 text-center md:space-y-10 lg:space-y-12 section-brands__header inview-container">
                
                    <div class="section-brands__accent">
                        {{ headings.headingThree({
                            title: 'Premium Brands Coming Together',
                            font: 'font-montserrat',
                            size: 'fluid-text-sm  uppercase',
                        })}}
                    </div>
                    <!-- Brands Logo -->
                    <div class="max-w-xs mx-auto lg:max-w-md section-brands__logo section-brands__title brand__rldatix ">
                        {{ icons.icon('brand', 'w-full') }}
                    </div>
                </div>
                <div class="flex flex-col items-center gap-1 px-12 mx-auto mt-8 text-center lg:max-w-screen-xl sm:px-10 md:flex-row md:w-full section-brands__content md:px-0">
                    <div class="relative hidden px-8 lg:block text-dodger-blue-900/60">
                        {{ icons.icon('brand-glyph', 'w-12') }}
                    </div>

                    {% for item in companyBrands %}
                        <div class="relative flex justify-center align-middle size-full max-w-80 text-dodger-blue-800/60 section-brands__item brand__icoach">
                            <div class="absolute rounded-full opacity-70 inset-6 bg-gradient-to-t from-wood-smoke-950 to-transparent blur-xl"></div>
                            <div class="z-10 ">
                                {{ icons.icon('hexagon', 'size-full outer-glow') }}
                            </div>
                            <figure class="absolute inset-0 flex items-center justify-center px-8 py-4 lg:px-16" >
                                <figcaption class="sr-only">{{ item.name }}</figcaption>
                                {{ icons.icon(item.icon, 'w-full max-w-40') }}
                            </figure>
                        </div>
                    {% endfor %}
                
                
                    <div class="relative hidden px-8 lg:block text-dodger-blue-950/60">
                        {{ icons.icon('brand-glyph', 'w-12') }}
                    </div>
                </div>
            </div>
        </div>
    </section>


    {# page content #}
    <div class="relative page-content__entry">  
        {% include "partials/content/_partial-content-builder.twig" %}
    </div>

    {% include "partials/_partial-call-to-action.twig" with {
        title: callToAction.title,
        entry: callToAction.entry,
        link: callToAction.link,
    } %}

</article>

{% endblock %}