{% extends "layouts/base.twig" %}


{% set pageContent = post.meta('page_content') %}
{% block content %}

<article>


    {% import "/templates/components/ui/_macro-image-object.twig" as images %}
    {% import "/templates/components/ui/_macro-badge.twig" as badges %}
    {% import "/templates/components/ui/_macro-heading.twig" as headings %}
    {% import "/templates/components/ui/_macro-button.twig" as buttons %}
    {% import "/templates/components/ui/_macro-icon.twig" as icons %}

    <!-- Hero -->
    {% set hero = post.meta('page_hero')[0] %}

    {% include "/templates/pages/page/partials/_partial-hero-full-background.twig"  with {
        heroAccent: hero.accent,
        heroTitle: hero.title,
        heroSubTitle: hero.sub_title,
        heroImage: hero.image,
        heroCTAs: hero.call_to_actions,
    
    } %}
    <!-- End Hero -->

    <!-- Brands -->
    <section class="relative px-16 pt-12 pb-8 sm:px-20 lg:pb-16 section-brands lg:px-8">
            <div class="absolute top-0 -inset-x-8 -bottom-3/4 opacity-90 ">
                <svg width="1440" height="2035" class="size-full" viewBox="0 0 1440 2035" fill="none" xmlns="http://www.w3.org/2000/svg">
                <ellipse cx="714" cy="1017.5" rx="1000" ry="1017.5" fill="url(#paint0_radial_296_549)" fill-opacity="0.8"/>
                <defs>
                    <radialGradient id="paint0_radial_296_549" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(714 1017.5) rotate(90) scale(1017.5 1000)">
                    <stop stop-color="#1B3262" stop-opacity="0.6"/>
                    <stop offset="1" stop-color="#1B3262" stop-opacity="0"/>
                    </radialGradient>
                </defs>
                </svg>
            </div>
            <div class="relative mx-auto space-y-8 lg:max-w-7xl">

                {# divider #}
                <div class="mb-20 -mx-12 text-dodger-blue-800/50 section-divider lg:mx-auto">
                    {% include "/templates/components/dividers/_component-divider-icon.twig" %}
                </div>

                <div class="section-brands__entry">
                    <div class="pt-12 space-y-6 text-center md:space-y-10 lg:space-y-12 section-brands__header inview-container">
                    
                        <div class="inview-item">
                        {{ headings.headingThree({
                            title: 'Brands Coming Together',
                            font: 'font-montserrat',
                            size: 'fluid-text-sm  uppercase',
                        })}}
                        </div>
                        <!-- Brands Logo -->
                        <div class="max-w-xs mx-auto lg:max-w-md section-brands__logo section-brands__item brand__rldatix ">
                            {{ icons.icon('brand', 'w-full') }}
                        </div>
                    </div>
                    <div class="flex flex-col items-center gap-1 px-12 mx-auto text-center lg:max-w-5xl sm:px-20 md:flex-row md:w-full section-brands__content md:px-0">
                        <div class="relative hidden px-12 lg:block text-dodger-blue-900/60">
                            {{ icons.icon('brand-glyph', 'w-12') }}
                        </div>
                        <div class="relative flex justify-center align-middle size-full max-w-80 text-dodger-blue-800/60 section-brands__item brand__icoach">
                            <div class="absolute rounded-full opacity-50 inset-6 bg-gradient-to-t from-wood-smoke-950 to-transparent blur-xl"></div>
                            <div class="z-10">{{ icons.icon('hexagon', 'absolute inset-0') }}</div>
                            <figure class="absolute inset-0 flex items-center justify-center px-8 py-4" >
                                <img src="{{ theme.link }}/public/img/img-logo-icoach.png" class="w-full max-w-44" alt="">
                            </figure>
                        </div>
                        {# center #}
                    
                    
                        <div class="relative flex justify-center align-middle size-full max-w-80 text-dodger-blue-800/60 section-brands__item brand__porzio">
                            <div class="absolute rounded-full opacity-50 inset-6 bg-gradient-to-t from-wood-smoke-950 to-transparent blur-xl"></div>
                            <div class="z-10">{{ icons.icon('hexagon', 'absolute inset-0') }}</div>
                            <figure class="absolute inset-0 flex items-center justify-center px-8 py-4">
                                <img src="{{ theme.link }}/public/img/img-logo-porzio.png" class="w-full max-w-44" alt="">
                            </figure>
                        </div>
                    
                            <div class="relative flex justify-center align-middle size-full max-w-80 text-dodger-blue-800/60 section-brands__item brand__icontracts">
                                <div class="absolute rounded-full opacity-50 inset-6 bg-gradient-to-t from-wood-smoke-950 to-transparent blur-xl"></div>
                                <div class="z-10">{{ icons.icon('hexagon', 'absolute inset-0') }}</div>
                                <figure class="absolute inset-0 flex items-center justify-center px-8 py-4">
                                    <img src="{{ theme.link }}/public/img/img-logo-icontracts.png" class="w-full max-w-44" alt="">
                                </figure>
                            </div>
                    
                       <div class="relative hidden px-12 lg:block text-dodger-blue-950/60">
                            {{ icons.icon('brand-glyph', 'w-12') }}
                        </div>
                    </div>
                </div>

               
            </div>
    </section>


    {% set logos = {
            title: 'Our Partners',
            items: [
                {
                    title: 'amagen',
                    link: '#',
                    image: 'img-logo-amgen.png'
                },
                {
                    title: 'astrazeneca',
                    link: '#',
                    image: 'img-logo-astrazeneca.png'
                },
                {
                    title: 'exelixis',
                    link: '#',
                    image: 'img-logo-exelixis.png'
                },
                {
                    title: 'genetech',
                    link: '#',
                    image: 'img-logo-genetech.png'
                },
                {
                    title: 'genetech',
                    link: '#',
                    image: 'img-logo-bausch-and-lomb.png'
                },
                {
                    title: 'amagen',
                    link: '#',
                    image: 'img-logo-amgen.png'
                },
                {
                    title: 'astrazeneca',
                    link: '#',
                    image: 'img-logo-astrazeneca.png'
                },
                {
                    title: 'exelixis',
                    link: '#',
                    image: 'img-logo-exelixis.png'
                },
                {
                    title: 'genetech',
                    link: '#',
                    image: 'img-logo-genetech.png'
                },
                {
                    title: 'genetech',
                    link: '#',
                    image: 'img-logo-bausch-and-lomb.png'
                },
            ]
        }
    %}

    <section class="hidden px-12 py-8 lg:px-8 lg:py-44">
        <div class="mx-auto max-w-7xl">
            <div class="swiper logos-swiper">
            <div class="swiper-wrapper">
                {% for item in logos.items %}
                    <div class="flex items-center justify-center px-2 h-36 swiper-slide">
                        <img src="{{theme.link}}/public/img/{{ item.image }}" alt="{{ item.name }}" class="w-full">
                    </div>
                {% endfor %}
            </div>
            </div>
        </div>
    </section>

    <div class="relative">

        <div class="absolute bottom-0 inset-x-12 opacity-70">
            <svg class="size-full" viewBox="0 0 1440 2035" fill="none" xmlns="http://www.w3.org/2000/svg">
            <ellipse cx="714" cy="1017.5" rx="1000" ry="1017.5" fill="url(#paint0_radial_296_549)" fill-opacity="0.8"/>
            <defs>
                <radialGradient id="paint0_radial_296_549" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(714 1017.5) rotate(90) scale(1017.5 1000)">
                <stop stop-color="#1B3262" stop-opacity="0.6"/>
                <stop offset="1" stop-color="#1B3262" stop-opacity="0"/>
                </radialGradient>
            </defs>
            </svg>
        </div>
        
        {% for content in pageContent %}
            {% set featureContentIcons = content.acf_fc_layout == 'features_content_with_icons' %}
            {% set cardImage = content.acf_fc_layout == 'card_with_image' %}
            {% set featuredStats = content.acf_fc_layout == 'featured_stats' %}
            {% set featuredKeyList = content.acf_fc_layout == 'featured_key_list' %}
            {% set featuredList = content.acf_fc_layout == 'featured_entry_list' %}
            {% if featureContentIcons %}
                {# feature with icons #}
                {% set features = content.features_content_with_icons[0].features %}
                {% set icon = item.icon %}
                {% set title = item.title %}
                {% set entry = item.entry %}
                {% include "/templates/partials/content/_partial-content-feature-icons.twig" %}
                 {# divider #}
                 {% if fn('is_front_page') %}
                    <div class="max-w-screen-xl mx-auto text-dodger-blue-800/50 section-divider">
                        {% include "/templates/components/dividers/_component-divider-icon.twig" %}
                    </div>
                {% endif %}
            {% elseif cardImage %}
                {% set cards = content.card_with_image[0].cards %}
                {% embed "/templates/components/containers/sections/_component-section-full.twig" with {
                    id: 'section-content-' ~ loop.index,
                    class: 'feature-card-with-image',
                    maxWidth: 'max-w-screen-2xl'
                } %}
                    {% block section_content %}
                        <ul class="stack-cards js-stack-cards">
                            {% for card in cards %}
                                {% set title = card.title %}
                                {% set entry = card.entry %}
                                {% set image = card.image %}
                                {% set link = card.link %}
                                <li class="pb-20 stack-cards__item js-stack-cards__item inview-item">
                                    {% include "/templates/components/cards/_component-card-featured-image.twig" %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endblock %}
                {% endembed %}

                {# divider #}
                 {% if fn('is_front_page') %}
                    <div class="max-w-screen-xl mx-auto text-dodger-blue-800/50 section-divider">
                        {% include "/templates/components/dividers/_component-divider-icon.twig" %}
                    </div>
                {% endif %}
            {% elseif featuredStats %}
                {# featured stats #}
                {% set stats = content.featured_stats[0] %}
                {% include "partials/content/_partial-content-featured-stats.twig" %}
                {# divider #}
                 {% if fn('is_front_page') %}
                    <div class="max-w-screen-xl mx-auto text-dodger-blue-800/50 section-divider">
                        {% include "/templates/components/dividers/_component-divider-icon.twig" %}
                    </div>
                {% endif %}
            {% elseif featuredKeyList %}
                {# featured key list #}
                {% set keyList = content.featured_stats[0] %}
                {% include "/templates/partials/content/_partials-content-featured-key-list.twig" %}
                {# divider #}
                 {% if fn('is_front_page') %}
                    <div class="max-w-screen-xl mx-auto text-dodger-blue-800/50 section-divider">
                        {% include "/templates/components/dividers/_component-divider-icon.twig" %}
                    </div>
                {% endif %}
            {% elseif featuredList %}
                {# featured entry list #}
                {% set list = content.featured_entry_list[0] %}
                {% include "/templates/partials/content/_partials-content-featured-entry-list.twig" %}
                {# divider #}
                 {% if fn('is_front_page') %}
                    <div class="max-w-screen-xl mx-auto text-dodger-blue-800/50 section-divider">
                        {% include "/templates/components/dividers/_component-divider-icon.twig" %}
                    </div>
                {% endif %}
            {% endif %}
        
        
        {% endfor %}
    </div>

    {% include "partials/_partial-call-to-action.twig" with {
        title: callToAction.title,
        entry: callToAction.entry,
        link: callToAction.link,
    } %}

</article>

{% endblock %}