{% extends "layouts/base.twig" %}
{% import "components/ui/_macro-heading.twig" as headings %}
{% import "components/ui/_macro-image-object.twig" as images %}
{% import "components/ui/_macro-icon.twig" as icons %}
{% import "components/ui/_macro-badge.twig" as badges %}

{% set hero =  post.meta('hero')[0] %}
{% set heroImages = hero.image_gallery %}
{% set term = get_term(term_id) %}


{% set post_category = post.categories[0].name %}
{% set post_tag = post.tags[0].name %}
{% set accent = post_tag ?? post_category %}
{% set paragraphs = post.content|split('</p>') %}




{% block content %}
    <script>console.log({{ post.tags | json_encode | raw }})</script>
    {% embed "/templates/components/containers/singles/_embed-single-title.twig" with {
        title: post.title
    } %}

        {% block single_content %}
            
            {% import "components/ui/_macro-image-object.twig" as images %}
            {% import "components/ui/_macro-heading.twig" as headings %}
            {% import "components/ui/_macro-badge.twig" as badges %}
            {% import "components/ui/_macro-icon.twig" as icons %}
            {% set prose = 'prose xl:prose-lg prose-blockquote:border-blue-300 prose-headings:tracking-tight  prose-headings:font-bold max-w-none prose-invert' %}
            
            <!-- Single Content -->
            <section class="space-y-8 article-content">
                    
                
                {% embed "/templates/components/containers/content/_embed-prose-content.twig" %}
                    {% block prose_content %}
                        {# {{post.content}} #}
                        {% for key, paragraph in paragraphs %}
                            {{ paragraph|raw }}</p>

                            {% if key == 0 and post.thumbnail %}
                                <!-- post thumbnail -->
                                {% include "/templates/pages/single/partials/_partial-single-feature-image.twig" %}
                            {% endif %}
                        {% endfor %}
                    {% endblock %}
                {% endembed %}

                <hr class="border border-black-rock-900/40" />
                
                {# get post tags #}
                {% set tags = post.tags %}
                {% if tags %}
                    <div class="flex flex-wrap items-center justify-center gap-4 py-4">
                        {% for tag in tags %}
                            <a href="{{ tag.link }}" class="inline-flex *:hover:text-dodger-blue-200 transition">
                                {{ badges.containedBadge({
                                    title: tag.name,
                                    color: 'dodger-blue',
                                }) }}
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}
                    
        
            </section>
            
        {% endblock %}
        
    {% endembed %}

    {% include "partials/_partial-call-to-action.twig" with {
        title: callToAction.title ? callToAction.title : options.general_call_to_action.title ,
        entry: callToAction.entry ? callToAction.entry : options.general_call_to_action.entry,
        link: callToAction.link ? callToAction.link : options.general_call_to_action.link,
    } %}
    
{% endblock %}
