{% import "/templates/components/ui/_macro-image-object.twig" as images %}
{% import "/templates/components/ui/_macro-badge.twig" as badges %}
{% import "/templates/components/ui/_macro-button.twig" as buttons %}
{% import "/templates/components/ui/_macro-heading.twig" as headings %}
{% import "/templates/components/ui/_macro-icon.twig" as icons %}
{% import "/templates/components/ui/_macro-image-background.twig" as backgrounds %}

{% set front = fn('is_front_page') %}
{% set backgroundImg = theme.link ~ '/public/img/img-bck-header-default.jpg'  %}
{% set hero_image = hero.image.url ?? options.default_images.background.url %}

<header id="{{ post.id }}-solution-hero" class="relative z-10 overflow-hidden">
    <div class="absolute inset-x-0 top-0 bg-gradient-to-b from-black to-transparent h-1/3"></div>
	<div class="px-6 bg-center bg-no-repeat bg-cover lg:bg-top pt-36 sm:px-12 lg:px-8 hero bck lazyload" {{ backgrounds.backgroundHeaderImage(hero_image | towebp, theme)}}>
        <div class="absolute inset-0 bg-wood-smoke-950/80 xl:hidden"></div>
        <div class="absolute inset-x-0 bottom-0 bg-gradient-to-t from-wood-smoke-950 via-wood-smoke-950/70 to-transparent h-1/3"></div>
        <div class="relative mx-auto lg:pt-20 max-w-screen-2xl lg:px-12">
        <div class="hero-content">
                    <div class="max-w-lg space-y-6 lg:max-w-2xl xl:max-w-5xl lg:space-y-12 xl:pr-20">
                        <div class="space-y-4">
                            {# accent #}
                            {% if heroAccent or post.title and not front %}
                                <div class="flex items-center space-x-2">
                                    <span class="inline-flex items-center px-3 py-0.5 text-xs font-medium tracking-widest  lg:tracking-[0.25rem] uppercase rounded text-flamingo-400 bg-flamingo-500/10 ring-1 ring-inset ring-flamingo-500/50">{{ heroAccent ?: post.type }}</span>
                                    <div class="hero__accent hero-content__item">
                                        {{ badges.accentBadge({
                                            title: post.title,
                                        })}}
                                    </div>
                                </div>
                            {% endif %}
                            {# headings #}
                            <hgroup class="max-w-5xl lg:pr-12 hero__headings">
                                {% if heroTitle %}
                                    <span class="inline-block hero-content__item text-pretty">
                                        {{ headings.displayHeadingOne({
                                            title: heroTitle,
                                            case: front ? 'uppercase' : 'normal-case',
                                            size: front ? 'fluid-text-6xl lg:fluid-text-7xl' : 'fluid-text-3xl lg:fluid-text-5xl',
                                        })}}
                                    </span>
                                {% endif %}
                            </hgroup>
                        </div>

                        {% if heroSubTitle or hero.entry or heroCTAs %}
                        {# entr pb-24y #}
                        <div class="pb-8 hero__entry lg:max-w-2xl">
                            {% if heroSubTitle %}
                                <div class="hero-content__item">
                                    {{ headings.headingThree({
                                        title: heroSubTitle,
                                        size: front ? 'fluid-text-lg lg:fluid-text-xl' : 'fluid-text-base lg:fluid-text-lg',
                                    })}}
                                </div>
                            {% endif %}

                            <div class="mt-4">
                                <div class="relative mx-auto {{ front ? 'prose-lg lg:prose-xl' : 'prose-sm lg:prose-base' }} hero__entry-content">
                                    {{ hero.entry }}
                                </div>
                                
                                {# hero CTAs #}
                                <div class="max-w-sm mt-8 hero__entry-cta">
                                    {% if heroCTAs %}
                                        {% for cta in heroCTAs %}

                                            {# {{ cta.title}} #}
                                            {{ buttons.btnLink({
                                                text: cta.link.title,
                                                link: cta.link.url,
                                                type: 'primary',
                                                icon: 'arrow-right',
                                                size: 'lg'
                                            })}}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
        </div>
    </div>
</header>