{% set level = level + 0 %}
{% import "components/ui/_macro-icon.twig" as icons %}
{% import "/templates/components/ui/_macro-image-object.twig" as images %}
{% import "/templates/components/ui/_macro-button.twig" as buttons %}
{% import "/templates/components/ui/_macro-heading.twig" as headings %}
{% import "/templates/components/ui/_macro-badge.twig" as badges %}

<menu class="menu-list flex items-center space-x-4 lg:space-x-8 relative {{ name }}" data-level="{{ level }}">
    
	{% for item in items %}
		<li 
            x-data="{ 
                open: false 
            }"
            @mouseenter="open = true"
            @mouseleave="open = false"
            :class="scrolledFromTop ? ' py-8' : 'py-16'"
            class="font-semibold {{ item.classes|join(' ') }} {{ 'menu-' ~ item.slug }} {{ item.current ? 'text-white' : '' }} menu-list-item py-8 group cursor-pointer relative text-white transition-all duration-500 ease-in-out"
        >
            <div class="absolute inset-x-0 top-0 h-0.5 {{ item.current ? 'bg-dodger-blue-800' : '' }} "></div>
			{% if item.link == '#' %}
				<button class="menu-link flex space-x-1.5 text-sm":aria-expanded="open" >
					{% include "/templates/components/menu-list/menu-text.twig" %}
				</button>
			{% else %}
				<a href="{{ item.link }}" 
                    class=" flex items-center space-x-1.5 text-sm transition duration-150 ease-linear menu-link hover:text-dodger-blue-500" 
                    target="{{ item.target }}"
                    :aria-expanded="open"
                >
                    {% include "/templates/components/menu-list/menu-text.twig" %}
                </a>
			{% endif %}

            {# item children#}
            {% if item.children  %}
                {% include "components/menu-list/partials/_partial-menu-childern.twig" %}
            {% endif %}

		</li>
	{% endfor %}
</menu>