{% import "components/ui/_macro-icon.twig" as icons %}
{% if menu.header_nav %}
    <menu id="mobileMenu" class="text-sm mobile-menu text-black-rock-100/80">
        {% for item in menu.header_nav.get_items %}
            {% if item.children %}
                 <li 
                    x-data="{ expanded: false,}" 
                    role="region" class="{{ item.classes|join(' ') }} mobile-menu_item">
                    <button
                        x-on:click="expanded = !expanded"
                        :aria-expanded="expanded"
                        class="flex items-center justify-between w-full py-2 font-semibold border-none"
                    >
                        <span 
                             :class="{ 'text-white': expanded }"
                            class="inline-flex mobile-menu__title">{{ item.name }}</span>
                        <span 
                            :class="{ 'transform rotate-180': expanded }"
                            class="inline-flex transition duration-200 ease-linear opacity-60">
                            {{ icons.icon('chevron-down', 'w-6 h-6') }}
                        </span>
                    </button>
                    
                    {#  #}
                    <div x-show="expanded" x-collapse>
                        <ul class="px-4 py-2 rounded nav-children bg-gray-50">
                            {% for child in item.children %}
                                <li class="py-1 text-sm font-semibold text-gray-500 {{ item.classes|join(' ') }}">
                                    <a href="{{ child.url }}" class="block p-2 rounded hover:text-blue-700 hover:bg-blue-100/60">{{ child.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
            {% else %}
                <li class="{{ item.classes|join(' ') }}">
                    <a href="{{ item.url }}" class="block py-2 font-semibold">{{ item.title }}</a>
                </li>
            {% endif %}
        {% endfor %}
        {% for item in menu.footer_nav.get_items %}
            <li class="{{ item.classes|join(' ') }}">
                <a href="{{ item.url }}" class="block py-2 font-semibold">{{ item.title }}</a>
            </li>
        {% endfor %}
    </menu>
{% endif %}