{% set level = level + 1 %}
<menu class="menu-list flex items-center {{ name }}" data-level="{{ level }}">
	{% for item in items %}
		<li class="font-semibold {{ item.classes|join(' ') }} menu-list-item ">
			{% if item.link == '#' %}
				<button class="menu-link">
					<span class="inline-flex text">{{ item.title }}</span>
					<span class="direction-indicator">▲</span>
				</button>
				{% else %}
				<a href="{{ item.link }}" class="inline-flex text-sm transition duration-150 ease-out menu-link hover:text-blue-600" target="{{ item.target }}">
                    <span>{{ item.title }}</span>
                </a>
			{% endif %}
			{% if item.children %}
				{% include 'components/menu-list/menu-list-header.twig' with {'items': item.children} %}
			{% endif %}
		</li>
	{% endfor %}
</menu>