{% import "components/ui/_macro-heading.twig" as headings %}
{% import "components/ui/_macro-icon.twig" as icons %}
{% import "components/ui/_macro-badge.twig" as badges %}

<header class="max-w-4xl pb-8 space-y-4">
    <!-- post title -->
    <hgroup class="space-y-2 article-header">
        {% if accent %}
            {{ badges.containedBadge({ 
                title: accent }) }}
        {% endif %}

        {{ headings.headingOne({
            'title': post.title,
            'case': "captilize",
        }) }}
    </hgroup>

    <!-- post meta -->
    <div class="flex items-center space-x-2 artice-content__meta">
        <div class="flex items-center space-x-1">
            <time datetime="{{ post.date|date("F j, Y") }}" class="text-sm font-medium text-gray-300">{{ post.date|date("F j, Y") }}</time>
        </div>
        
        <span class="text-sm font-semibold text-dodger-blue-700">by {{ post.author.display_name }}</span>
    </div>
</header>