{% embed "components/containers/sections/_component-section-full.twig" with {
    id: 'section-content-' ~ loop.index,
    class: 'feature-stats',
    maxWidth: 'max-w-screen-xl' 
} %}

    
    {% block section_content %}

        {% import "components/ui/_macro-badge.twig" as badges %}
        {% import "components/ui/_macro-heading.twig" as headings %}
        {% import "components/ui/_macro-button.twig" as buttons %}
        {% import "components/ui/_macro-icon.twig" as icons %}

        <div class="relative grid grid-cols-1 gap-8 lg:grid-cols-2">
            <div class="relative inview-item">
                <div class="space-y-6">
                    {# {{ badges.accentBadge({
                        title: stats.accent,
                    })}} #}
                    <span class="text-flamingo-600">{{ icons.icon('brand-glyph', 'size-6') }}</span>
                    
                    {{ headings.headingTwo({
                        title: stats.title,
                        size: 'fluid-text-4xl',
                    })}}

                    <div class="prose prose-span:text-dodger-blue-600 fluid-prose-lg">
                        {{ stats.entry }}
                    </div>
                </div>
            </div>
            <div class="relative max-w-xl lg:max-w-none">
                <div class="grid grid-cols-2 gap-4 lg:gap-2">
                    {% for item in stats.stats %}
                        <div class="pb-12 space-y-2 text-white [&_span]:text-dodger-blue-600 inview-item">
                            <div class="font-bold fluid-text-4xl lg:text-5xl">{{ item.stat }} <span class="inline-flex -ml-1 lg:-ml-3">{{ item.caret }}</span></div>
                            <div class="text-sm text-gray-200 md:text-base">{{ item.entry }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endblock %}
{% endembed %}