{% embed "/templates/components/containers/sections/_embed-section-full.twig" with {
    id: 'section-content-' ~ loop.index,
    class: 'feature-with-image',
    maxWidth: 'max-w-screen-2xl',
    paddingBlock: 'py-12 xl:py-20',
} %}
    {% block section_content %}
        {% import "components/ui/_macro-heading.twig" as headings %}
        {% import "components/ui/_macro-image-object.twig" as images %}
        {% import "components/ui/_macro-icon.twig" as icons %}
        {% import "components/ui/_macro-badge.twig" as badges %}
        {% import "components/ui/_macro-button.twig" as btn %}
        <div class="absolute -top-12 {{ loop.index is even ? '-left-32 ' : '-right-32 ' }} rounded-full size-[65rem]">
            {# effect #}
            <div class="absolute inset-0 opacity-60">
                {{ images.imageObject({
                    src: src ?: theme.link ~ '/public/img/img-glow-blue.png',
                    alt: 'icon',
                    class: 'w-full h-full',
                })}}
            </div>
            <div class="absolute opacity-25 text-wood-smoke-950 -inset-48 mix-blend-multiply">
                {{ icons.icon('pattern-hexagon', 'size-full') }}
            </div>
        </div>

        <div class="flex flex-col gap-12 xl:justify-stretch lg:px-8 relative xl:gap-16 {{ loop.index is even ? 'xl:flex-row-reverse' : 'xl:flex-row' }}">

            {# featured #}
            <div class="relative flex-none hidden group lg:w-1/2 inview-item xl:block ">
                <div class="relative">
                    <div class="absolute rounded-md -inset-2 bg-wood-smoke-900/70 blur-lg lg:block"></div>
                    <figure class="relative overflow-hidden border rounded-md border-dodger-blue-900">
                        {{ images.imageObject({
                            src: image.url ? image.url : theme.link ~ '/public/icons/icon-temp-image.svg',
                            alt: image.alt,
                            class: 'w-full h-full',
                        })}}
                    </figure>
                </div>
            </div>

            {# content #}
            <div class="space-y-10 lg:w-1/2 inview-item">
                
                <div class="space-y-4 xl:max-w-2xl solution-hero__content">
                    <!-- Badge -->
                    {% if accent %}
                        <div class="inline-flex solution-hero__accent">
                            {{ badges.accentBadge({
                                title: accent,
                            })}}
                        </div>
                    {% endif %}
                    
                    <!-- Heading -->
                    <hgroup class="space-y-2 solution-hero__headings">
                        {{ headings.headingTwo({
                            title: title,
                            size: 'fluid-text-3xl',
                        })}}
                        {{ headings.headingThree({
                            title: subTitle,
                            size: 'fluid-text-base',
                            color: 'text-dodger-blue-500',
                        })}}
                    </hgroup>

                    {# mobile image #}
                    <div class="relative flex-none group inview-item xl:hidden">
                        <div class="absolute rounded-md -inset-2 bg-wood-smoke-800/70 blur-xl lg:block"></div>
                        <figure class="overflow-hidden border border-blue-700 rounded-md aspect-w-16 aspect-h-9">
                            {{ images.imageObject({
                                src: image.url ? image.url : src,
                                alt: image.alt,
                                class: 'w-full h-auto',
                            })}}
                        </figure>
                    </div>

                    <div class="space-y-8">
                        {# content entry #}
                        <div class="pt-8 solution-hero__entry inview-item lg:pt-0">
                            <div class="prose prose-lg sm:prose-lg prose-invert max-w-none prose-ul:list-image-[url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxNCAxMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBmaWxsPSIjMzhiZGY4Ij48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMy42ODUuMTUzYS43NTIuNzUyIDAgMCAxIC4xNDMgMS4wNTJsLTggMTAuNWEuNzUuNzUgMCAwIDEtMS4xMjcuMDc1bC00LjUtNC41YS43NS43NSAwIDAgMSAxLjA2LTEuMDZsMy44OTQgMy44OTMgNy40OC05LjgxN2EuNzUuNzUgMCAwIDEgMS4wNS0uMTQzWiIgLz48L3N2Zz4=')]">
                                {{ entry }}
                            </div>
                        </div>
                        {# call to action #}
                        {% if link %}
                            <div class="solution-hero__cta inview-item">
                                {{ btn.btnLink({
                                    text: link.title,
                                    size: 'lg',
                                    icon: 'arrow-right',
                                    link: link.url,
                                })}}
                            </div>
                        {% endif %}
                    </div>
                    
                   
                </div>
                <!-- END Heading -->
                
            </div>
        </div>
    {% endblock %}

{% endembed %}