{% import "/templates/components/ui/_macro-badge.twig" as badges %}
{% import "/templates/components/ui/_macro-button.twig" as buttons %}
{% import "/templates/components/ui/_macro-heading.twig" as headings %}
{% import "/templates/components/ui/_macro-icon.twig" as icons %}
{% import "/templates/components/ui/_macro-image-object.twig" as images %}
{% import "/templates/components/ui/_macro-image-background.twig" as backgrounds %}

{% set post_title = post.title %}
{% set term = get_term(term_id) %}
{% set page_hero = term.meta('page_hero')[0] %}
{% set title = page_hero.title ?: title %}
{% set description = page_hero.entry  ?: term.description %}
{% set bck_img = page_hero.image.url %}
{% set heroAccent = page_hero.accent  %}
{% set heroSubTitle = page_hero.subtitle  %}
{% set ctas = page_hero.call_to_actions %}
{% set subtitle = page_hero.subtitle  %}
{% set ctas = page_hero.call_to_actions %}
{% set is_home = fn('is_home') %}

<div class="page-content">
    {# archive hero #}
    <article
        id="{{ term ? term|lower : post.type_archive }}-hero" 
        class="relative archive-hero post-{{ post.type }} inview-hero">

        <header id="{{ term ? term|lower : post.id }}-hero" class="relative z-10 overflow-x-clip">
            <div class="absolute inset-x-0 top-0 bg-gradient-to-b from-black to-transparent h-1/3"></div>
            <div class=" px-6 bg-center bg-no-repeat bg-cover lg:bg-top pt-36 sm:px-12 lg:px-8 hero__background {{ description ? 'lg:min-h-[50vh]' : 'lg:min-h-[30vh]' }} lazyload" {{ backgrounds.backgroundHeaderImage(bck_img, theme)}}>
                <div class="absolute inset-0 bg-wood-smoke-950/70 xl:hidden"></div>
                <div class="absolute inset-x-0 bottom-0 bg-gradient-to-t from-wood-smoke-950 via-wood-smoke-950/70 to-transparent h-1/3"></div>

                {# header #}
                <div class="relative px-6 mx-auto lg:pt-20 max-w-screen-2xl lg:px-12">
                    <div class=" hero-content">
                        {% if is_home %}
                            <div class="space-y-4">
                                {# accent #}
                                {% if heroAccent or post.title and not front %}
                                    <div class="hero__accent hero-content__item">
                                        {{ badges.accentBadge({
                                            title: heroAccent ?: post.title,
                                        })}}
                                    </div>
                                {% endif %}

                                <hgroup class="space-y-8 max-w-7xl hero__headings">
                                    <div class="inline-block hero-content__item">
                                        {{ headings.displayHeadingOne({
                                            title: title ? title,
                                            case: front ? 'uppercase' : 'normal-case',
                                            size: 'fluid-text-xl lg:fluid-text-3xl',
                                        })}}
                                    </div>
                                </hgroup>
                        
                                {% include "/templates/components/containers/archive/partials/_partials-search-form-results.twig" %}
                            </div>

                            {# cateories #}
                            <ul class="flex-wrap items-center justify-center hidden gap-2 md:flex categories-menu">
                                {% for category in categories %}
                                    <li class="menu-item">
                                        <a 
                                            href="{{ site.link ~ '/tag/' ~ category.slug ~ '/' }}" 
                                            class="inline-flex capitalize whitespace-nowrap text-sm font-medium text-dodger-blue-500 bg-black border-dodger-blue-700 px-3.5 py-0.5 border rounded-full hover:text-white">
                                            {{ category.name }} <span class="ml-2 text-white sr-only">{{ category.count }}</span>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            {% include "/templates/components/containers/archive/partials/_partials-archive-header-content.twig" %}
                        {% endif %}
                    </div>  
                </div>
                
            </div>
        </header>
        
        
    </article>

    <div class="archive-body inview-content'">
        {# divider #}
        <div class="max-w-screen-xl mx-auto text-dodger-blue-800/50 section-divider page-content__item">
            {% include "/templates/components/dividers/_component-divider-icon.twig" %}
        </div>

        {% block archive_content %}
            <p>Archive Content</p>
        {% endblock %}
    </div>
    
    {% embed "/templates/components/containers/sections/_embed-section-full.twig"  with {
        maxWidth: 'max-w-screen-xl',
    } %}
            {% block section_content %}
                <div class="archive-pagination">
                    {% include 'components/pagination/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
                </div>
            {% endblock %}
    {% endembed %}

    <div class="max-w-screen-xl mx-auto text-dodger-blue-800/50 section-divider page-content__item">
        {% include "/templates/components/dividers/_component-divider-icon.twig" %}
    </div>

</div>